body {
<<<<<<< HEAD
	background: url("../img/GrandTetonsEvening.jpg") no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	color:#fff;
=======
	background: url("img/GrandTetonsEvening.jpg");
	background-size: cover;
>>>>>>> origin/Joey2
}

.header, .footer {
	text-align:center;
}

.footer {
	margin-top:10px;
}

<<<<<<< HEAD
.content {
	min-height: 400px;
}

=======
>>>>>>> origin/Joey2
nav ul {
	background:#000;
}

nav ul li {
	display:inline;
	text-decoration:none;
	color:#fff;
<<<<<<< HEAD
	padding:15px;
}

a {
	color:#fff;
}

a:hover {
	color:#f88;
}

nav ul li a:hover {
	color:#aaf;
=======
	padding:5px;
}

nav ul li a {
	color:#fff;
}

nav ul li a:hover {
	color:#ddd;
>>>>>>> origin/Joey2
	text-decoration:none;
}

.home_image img {
	margin:0 auto;
}